[
  "NODE_ENV",
  "DEBUG",
  "MYSQL_USER",
  "MYSQL_PASS",
  "MYSQL_DB",
  "MYSQL_HOST",
  "MYSQL_PORT",
  "DATABASE_LOGGING",
  "SERVER_HOST",
  "SERVER_PORT",
  "WEB_SERVER_LOGGING",
  "JWT_SECRET",
  "SHOULD_ENCRYPT_TOKENS",
  "JWE_ENCRYPTION_KEY",
  "DATABASE_ENCRYPTION_SECRET",
  "ACCESS_TOKEN_TTL",
  "REFRESH_TOKEN_TTL",
  "BCRYPT_SALT_ROUNDS",
  "RATE_LIMIT_REQUESTS_NUMBER",
  "RATE_LIMIT_DURATION_SECONDS",
  "RATE_LIMIT_WHITE_LIST",
  "RATE_LIMIT_WHITE_LIST_REGEXP"
]
